@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: aliceblue;
}
nav {
  background-color: #fff;
  height: 70px;
  border-bottom: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}
.logo {
  color: brown;
  font-weight: 600;
  font-size: 30px;
}
.search-box {
  /* margin-left: auto; */
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  background-color: #eeeded;
  height: 50px;
  width: 300px;
}
.search-box input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 18px;
  background-color: #eeeded;
  padding: 10px 5px;
}

.search-box ion-icon {
  color: #9a9898;
  font-size: 20px;
}

nav ul {
  height: 100%;
}

nav ul li {
  height: 100%;
  float: left;
  line-height: 70px;
  padding: 0 15px;
  transition: 0.5s;
  border-top: 5px solid transparent;
}

nav ul li a {
  color: #4e4d4d;
  font-size: 18px;
}
nav ul li:hover {
  background-color: #ddd;
  border-top-color: #4e4d4d;
}
